body {
  margin: 5px
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} 

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogBorder {
  padding: 5px;
  border: solid;
  border-color: #5d5d5d;
  border-width: 1.5px;
  margin-bottom: 3px;
}

.delButton {
  background-color: rgb(94, 94, 246);
}